h1, h2, h3
  typo-header()

.title
  margin $m7 0
  font-size 20px
  font-weight 500
  letter-spacing normal
  text-transform none
  font-primary()

  &:first-child
    margin-top 0

  &._side
    margin-left $m8
    margin-right $m8
